<h1> hi hello </h1>

<%= form_tag do %>
  Form contents
<% end %>

<form accept-charset="UTF-8" action="/" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  Form contents
</form>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag( "Search for:") %>
  <%= text_field_tag(:text) %>
  <%= submit_tag %>
<% end %>
form_tag({controller: "people", action: "search"}, method: "get", class: "nifty_form")
<%= check_box_tag(:pet_dog) %>
<%= text_field_tag(:pet_dog, "I own a dog") %>
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "I own a cat") %>